@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranYekan500";
  src: url("../_fonts/iranyekanwebmedium.eot");
  src: url("../_fonts/iranyekanwebmedium.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/iranyekanwebmedium.woff") format("woff"),
    url("../_fonts/iranyekanwebmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IranYekan400";
  src: url("../_fonts/iranyekanwebregular.eot");
  src: url("../_fonts/iranyekanwebregular.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/iranyekanwebregular.woff") format("woff"),
    url("../_fonts/iranyekanwebregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IranYekan300";
  src: url("../_fonts/IRANYekanLight.eot");
  src: url("../_fonts/IRANYekanLight.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANYekanLight.woff") format("woff"),
    url("../_fonts/IRANYekanLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IranYekan700";
  src: url("../_fonts/iranyekanwebbold.eot");
  src: url("../_fonts/iranyekanwebbold.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/iranyekanwebbold.woff") format("woff"),
    url("../_fonts/iranyekanwebbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSansWeb300";
  src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot");
  src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"),
    url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
    url("../_fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWeb400";
  src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
    url("../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansWeb500";
  src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot");
  src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
    url("../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "IRANSansWeb700";
  font-family: "IRANSansWeb(FaNum)700";
  src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot");
  src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
    url("../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
    url("../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: "IRANSansWeb(FaNum)700";
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  .faNum{
    font-family: "IRANSansWeb300";
}
@font-face {
  font-family: "SGKara300";
  src:
    url("../fonts/SGKara-Light_p30download.com.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SGKara400";
  src:
    url("../fonts/SGKara-Regular_p30download.com.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SGKara700";
  src:
    url("../fonts/SGKara-SemiBold_p30download.com.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
  @font-face {
    font-family: "Biotif300";
    src:
      url("../fonts/Biotif-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Biotif400";
    src:
      url("../fonts/Biotif-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Biotif500";
    src:
      url("../fonts/Biotif-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Biotif700";
    src:
      url("../fonts/Biotif-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Biotif800";
    src:
      url("../fonts/Biotif-Black.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Biotif900";
    src:
      url("../fonts/Biotif-ExtraBold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

@font-face {
  font-family: "IRANYekan300";
  src: url("../_fonts/IRANYekanLight.eot");
  src: url("../_fonts/IRANYekanLight.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/IRANYekanLight.woff") format("woff"),
    url("../_fonts/IRANYekanLight.woff2") format("woff2"),
    url("../_fonts/IRANYekanLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan400";
  src: url("../_fonts/IRANYekanX-Regular.eot");
  src: url("../_fonts/IRANYekanX-Regular.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/IRANYekanX-Regular.woff") format("woff"),
    url("../_fonts/IRANYekanX-Regular.woff2") format("woff2"),
    url("../_fonts/IRANYekanX-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANYekan500";
  src: url("../_fonts/IRANYekanX-Medium.eot");
  src: url("../_fonts/IRANYekanX-Medium.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/IRANYekanX-Medium.woff") format("woff"),
    url("../_fonts/IRANYekanX-Medium.woff2") format("woff2"),
    url("../_fonts/IRANYekanX-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sahitya400";
  src: url("../_fonts/Biotif-Bold.eot");
  src: url("../_fonts/Biotif-Bold.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/Biotif-Bold.woff") format("woff"),
    url("../_fonts/Biotif-Bold.woff2") format("woff2"),
    url("../_fonts/Biotif-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Biotif700";
  src: url("../_fonts/Sahitya-Regular.eot");
  src: url("../_fonts/Sahitya-Regular.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/Sahitya-Regular.woff") format("woff"),
    url("../_fonts/Sahitya-Regular.woff2") format("woff2"),
    url("../_fonts/Sahitya-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.ocean {
  height: 80px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}
.Article-C .Section-4 .wave,
.Article-C .Section-5 .wave{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23cdf1ff'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  background-color: linear-gradient(180deg, rgba(0, 189, 242, 0.15) 0%, rgba(255, 255, 255, 0) 10.99%);


}
.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23fff'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  -webkit-animation: wave 14s infinite;
  animation: wave 14s infinite;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s infinite;
  opacity: 0.4;
}

.wave:nth-of-type(3) {
  bottom: 0;
  -webkit-animation: wave 24s infinite;
  animation: wave 24s infinite;
  opacity: 0.2;
}

.ocean3 {
  height: 100%; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  /* overflow-x: hidden; */
}

.wave3 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23cdf1ff'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 90px;
  -webkit-animation: wave 14s infinite;
  animation: wave 14s infinite;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.wave3:nth-of-type(2) {
  top: 0;
  animation: wave 18s infinite;
  opacity: 0.4;
}

.wave3:nth-of-type(3) {
  top: 0;
  -webkit-animation: wave 24s infinite;
  animation: wave 24s infinite;
  opacity: 0.2;
}
.backG {
  width: 120%;
  margin-top: 40px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 45%,
    rgba(205, 241, 255, 1) 100%
  );
}
@-webkit-keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.clipPathSection {
  width: 100%;
  height: 351px;
  background-color: white;
  /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); سایه به شکل موجی */
  box-shadow: 0px 0px 7px 0px #00A0DD80;

  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 87.55%,
    2% 88.02%,
    4% 88.57%,
    6% 89.2%,
    8% 89.9%,
    10% 90.66%,
    12% 91.45%,
    14% 92.27%,
    16% 93.1%,
    18% 93.92%,
    20% 94.72%,
    22% 95.49%,
    24% 96.19%,
    26% 96.84%,
    28% 97.4%,
    30% 97.88%,
    32% 98.26%,
    34% 98.54%,
    36% 98.7%,
    38% 98.75%,
    40% 98.69%,
    42% 98.51%,
    44% 98.22%,
    46% 97.83%,
    48% 97.34%,
    50% 96.76%,
    52% 96.11%,
    54% 95.4%,
    56% 94.63%,
    58% 93.82%,
    60% 93%,
    62% 92.17%,
    64% 91.36%,
    66% 90.56%,
    68% 89.82%,
    70% 89.12%,
    72% 88.5%,
    74% 87.96%,
    76% 87.5%,
    78% 87.15%,
    80% 86.91%,
    82% 86.78%,
    84% 86.76%,
    86% 86.85%,
    88% 87.06%,
    90% 87.38%,
    92% 87.79%,
    94% 88.31%,
    96% 88.91%,
    98% 89.58%,
    100% 90.31%
  );
}
.clipPathSectionAbout {
  width: 100%;

  background-color: white;
  /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); سایه به شکل موجی */
  box-shadow: 0px 0px 7px 0px #00A0DD80;

  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 87.55%,
    2% 88.02%,
    4% 88.57%,
    6% 89.2%,
    8% 89.9%,
    10% 90.66%,
    12% 91.45%,
    14% 92.27%,
    16% 93.1%,
    18% 93.92%,
    20% 94.72%,
    22% 95.49%,
    24% 96.19%,
    26% 96.84%,
    28% 97.4%,
    30% 97.88%,
    32% 98.26%,
    34% 98.54%,
    36% 98.7%,
    38% 98.75%,
    40% 98.69%,
    42% 98.51%,
    44% 98.22%,
    46% 97.83%,
    48% 97.34%,
    50% 96.76%,
    52% 96.11%,
    54% 95.4%,
    56% 94.63%,
    58% 93.82%,
    60% 93%,
    62% 92.17%,
    64% 91.36%,
    66% 90.56%,
    68% 89.82%,
    70% 89.12%,
    72% 88.5%,
    74% 87.96%,
    76% 87.5%,
    78% 87.15%,
    80% 86.91%,
    82% 86.78%,
    84% 86.76%,
    86% 86.85%,
    88% 87.06%,
    90% 87.38%,
    92% 87.79%,
    94% 88.31%,
    96% 88.91%,
    98% 89.58%,
    100% 90.31%
  );
}

.relatedProScrollbar .swiper-scrollbar-drag {
  background-color: #0c4da2;
}

.activeMoveImg{
  transform: scale(1)!important;
}
.contactUs .address p{
display: inline;
}

.proSlide2Scrollbar .swiper-scrollbar-drag , .proSlide1Scrollbar .swiper-scrollbar-drag{
background-color: #01073F;
}
.menuContainer{
  transform: translateY(-100%);
}

.activeMenuContainer{
  transform: translateY(0)!important;

}


.blueHaeder rect ,.blueHaeder path {
  
stroke: #003B8E;
  
}
.blueHaeder path {
  
  fill: #003B8E;
    
  }
.blueHaeder .menuBar span{
  color: #003B8E;
}

header rect , header path , .menuBar span{
transition: 0.7s;
}

.openSearchContainer{
  transform: scale(1)!important;
}
.opensearchBtn .open{
opacity: 0;
z-index: 0!important;
}
.opensearchBtn .close{
opacity: 1!important;
z-index: 1!important;
}


.searchPage .resaultProduct .swiper-slide:hover{
  box-shadow: 1px 1px 9px 0px #00A0DD33;

}


.certiPagination .swiper-pagination-bullet-active{
background-color: #00A0DD80!important;
}


.wavess {
  position: absolute;
bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wavess.sec1 svg path {
  fill: linear-gradient(180deg, rgba(0, 160, 221, 0) 15.96%, rgba(0, 160, 221, 0.5) 99.29%);
  ;
}
.wavess.sec2 svg path {
  fill: linear-gradient(180deg, rgba(255, 255, 255, 0) 15.96%, rgb(255, 255, 255) 99.29%);
  ;
}
/* Animation */
.wave-paths {
  use {
    animation: move-waves 10s ease-in-out infinite;
    fill: url(#wave-gradient);
  }
  use:nth-child(odd) {
    animation-direction: reverse;
    animation-duration: 13s;
  }
  use:nth-child(1) {
    animation-delay: -2s;
    opacity: .7;
  }
  use:nth-child(2) {
    animation-delay: -3s;
    opacity: .5;
  }
  use:nth-child(3) {
    animation-delay: -4s;
    opacity: .3;
  }
  use:nth-child(4) {
    animation-delay: -5s;
  }
}

@keyframes move-waves {
  0% {
    transform: translate3d(-30px, 0, 0);
  }
  50% {
    transform: translate3d(30px, 0, 0);
  }
  100% {
    transform: translate3d(-30px, 0, 0);
  }
}
.Home-C .Pro-Boxes .Circle{
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.ProjectsSlider .swiper-slide-active {
  z-index: 3;
}

.ProjectsSlider .cta {
  padding: 12% 0;
}
.ProjectsSlider .cta__slider-wrapper {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  transition: opacity 0.6s ease, transform 0.03s ease;
  -webkit-transition: opacity 0.6s ease, transform 0.03s ease;
  -moz-transition: opacity 0.6s ease, transform 0.03s ease;
  -ms-transition: opacity 0.6s ease, transform 0.03s ease;
  -o-transition: opacity 0.6s ease, transform 0.03s ease;
}
.ProjectsSlider .cta__slider-item {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  margin: 0;
}
.ProjectsSlider .cta__slider-item .slide-bigimg {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 1s ease;
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-size: cover !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.ProjectsSlider .cta__slider-item .entity-img {
  display: none;
}
.ProjectsSlider .swiper-slide{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.ProjectsSlider .slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

}
.ProjectsSlider .slide-inner img{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.ProjectsSlider .swiper-pagination-bullet{
   width: 8px;
   height: 8px;
   background-color: #CECECE;
   border-radius:50% ;
   -webkit-border-radius:50% ;
   -moz-border-radius:50% ;
   -ms-border-radius:50% ;
   -o-border-radius:50% ;
   position: static !important;
   opacity: 1 !important;
   position: relative !important;
   transition:all .5s  ;
   -webkit-transition:all .5s  ;
   -moz-transition:all .5s  ;
   -ms-transition:all .5s  ;
   -o-transition:all .5s  ;

}
.ProjectsSlider .swiper-pagination-bullet.swiper-pagination-bullet-active::after{
  content: '';
  position: absolute;
  right: -100%;
  top: -88%;
  display: flex;
  width: 23px;
  height: 23px;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  border: 1px solid white;
  z-index: 3;

}
.ProjectsSlider .title h3{
  opacity:0 ;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.ProjectsSlider .swiper-slide.swiper-slide-active h3{
  opacity: 1;
}
.ProjectsSlider .swiper-button-next::after, .ProjectsSlider .swiper-button-prev::after{
  content: none;
}
.ProjectsSlider .swiper-button-next,
.ProjectsSlider .swiper-button-prev{
  width:  auto !important;
  margin: 0 !important;
  position: static !important;
}
.ProjectsSlider .swiper-button-next svg,
.ProjectsSlider .swiper-button-prev svg{
  width: 30px;
}
.Home-C .Blog{
  padding-bottom: 1.5em;
}
.Blog p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.Home-C .Blog{
  border-bottom:1px dashed #01073F80
}
.BlogList-C .Blog{
  border-bottom: 1px solid black;
}
.imgarea .img {
  width: 350px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: -4px -4px 40px 0 rgba(255, 255, 255, 0.65), 6px 8px 25px 0 rgba(154, 171, 205, 0.3);
  background-color: #e2eaf5;
}
.forbeauty--cont {
  position: relative;
  z-index: 1;
}
.imgarea {
  position: relative;
  z-index: 1;
}
.forbeauty--cont .imgarea .img {
  width: 350px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 27px 6px #2BC0DD1F;
  background-color: #00A0DD1A;
  position:relative;
}
.forbeauty--cont .forbeauty--wave {
  position: absolute;
  top: -7px;
  right: 17px;
  z-index: 0;
  display: block;
  width: calc(100% - 17px * 2);
  height: calc(100% - 1px * 2);
  overflow: hidden;
  border-radius: 50%;
}
.forbeauty--cont .forbeauty--wave canvas {
  height: 100%;
}
.Article-C .GallerysSlider .swiper-pagination-bullet{
background-color: #D9D9D9 !important;
opacity: 1 !important;
}
.Article-C .GallerysSlider .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #00A0DD80 !important;
}
.Article-C .Relateds-Container{
  /* background: linear-gradient(180deg, rgba(0, 189, 242, 0.15) 0%, rgba(255, 255, 255, 0) 62.99%); */

}
.Article-C .Product{
  box-shadow: 1px 1px 9px 0px #00A0DD33;

}
.Article-C .swiper-scrollbar:hover{
  cursor: pointer;
}